<div class="form-upload">
    <%= form_for Task.new do |f| %>
        <div class="form-group">
            <%= f.text_field :title, placeholder: true %>
            <%= f.text_field :description, placeholder: true %>
        </div>
        <div class="form-group">
            <%= f.text_field :user_id, value: current_user.id, class: "d-none" %>
        </div>
        <br>
        <div class="text-center">
            <%= f.submit "Create Task", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>

<div class="tasks">
    <% @tasks.each do |task| %>
        <%= link_to task_path(task) do %>
            <section class="task">
                <div class="title">
                    <%= task.title %>
                </div>
            </section>
        <% end %>
    <% end %>

    <%= paginate @tasks %>
</div>

<span><%= @tasks.count %></span> tasks
